<ul>
  <li class="circle-placeholder">
    <img src={{imageURL}} /></li>
  <li>{{title}}</li>
  <li>{{artist}}</li>
  <li>{{album}}</li>
  <button class="delete-btn" data-trackId={{trackId}} data-playlistId={{playlistId}}><i class='bx bx-trash' ></i></button>
</ul>
