<div class='playlist'>
  <div class='playlist-header'>
    <div class='playlist-title'>{{playlist.title}}</div>
  </div>

  <div class='track-list'>
    {{#each tracks}}
      <div class='track'>
        {{#if imageURL}}
          <img src='{{imageURL}}' class='track-img' alt='Album artwork' />
        {{/if}}
        <div class='track-title'>{{title}}</div>
        <div class='track-artist'>Artist:<span class="track-inf">{{artist}}</span></div>
        <div class='track-album'>Album:<span class="track-inf">{{album}}</span></div>
        <button data-trackId="{{id}}" class="delete-btn" data-playlistId="{{../playlist.id}}"><i class='bx bx-trash' ></i></button>

      </div>

    {{/each}}

  </div>
</div>
<script src="/js/playlist.js"></script>