<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{playlist.title}}</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <header>
    <h1>{{playlist.title}}</h1>
    <h2>Created by User {{playlist.userId}}</h2>
  </header>

  <section>
    <h3>Tracks:</h3>
    <ul>
      {{#each tracks}}
        <li>
          <h4>{{title}}</h4>
          <p>Artist: {{artist}}</p>
          <p>Album: {{album}}</p>
          {{#if imageURL}}
            <img src="{{imageURL}}" alt="Album artwork">
          {{/if}}
        </li>
      {{/each}}
    </ul>
  </section>